In [ ]:
import math
print(math.cos(math.pi))

In [ ]:
nums = set([1, 1, 2, 2, 3, 3, 3, 4])
print(len(nums))

In [ ]:
set([1, 1, 2, 2, 3, 3, 3, 4])

In [6]:
a=[1,2,3]
a[1]=4

In [7]:
a[1]

4

In [8]:
a[2]

3

In [10]:
a[0]

1

In [12]:
a=(1,2,3)

In [14]:
a[1]

2

In [16]:
x = "Hello, world!" 
y = x[5:]

In [17]:
y

', world!'

In [1]:
y = [x**2 for x in range(5)]

In [2]:
y

[0, 1, 4, 9, 16]

In [3]:
2^2

0

In [4]:
2**2

4

In [5]:
2*3

6

In [6]:
2^3

1

In [7]:
2**3

8

In [13]:
x = 1
def my_function():
    x = 2
    print(x)
print(x)
my_function()
print(x)

1
2
1

In [14]:
my_function()

2

# PART 2

In [19]:
x=1
x*=2

In [20]:
x

2

In [1]:
x=[1,2,3]

In [3]:
x.append(4)

In [4]:
x

[1, 2, 3, 4]

# Tuples

In [6]:
x = 10
y = 20
coordinate = (x,y)
print(coordinate)

(10, 20)

In [8]:
(c1,c2) = coordinate
print(c1)
print(c2)

10
20

In [12]:
x=(1,2,3)
x.count(3)

1

In [15]:
sum(x)

6